.form__Question{
    width: 1100px;
    height: auto;
    background-color:rgb(255, 255, 255) ;
    padding: 40px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
}
.text_area{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
}

.form-control{
    width: 1000px;
}
.footer__Question{
    margin-top: 40px;
}
.body__Question{
    margin-top: 40px;
}
.Add_Question{
   margin-top: 40px;
   width: auto;
   height: 30px;
}
.rti--tag{
    padding: 3px;
    border: 1px solid #000;
    margin-left: 5px;
}
.rti--container .rti--input{
    margin-left: 5px;
    padding: 3px;
    outline: 1px rgb(0, 0, 0) solid 
}
